/* :root{
    --main-color:rgb(240 0 55/1);
    --main-light-color:rgb(252 244 245/1);
    --white-color:#fff;
    --black-color:#000;
} */
.activities-text ul{
    list-style-type: none;
}
.activity-heading{
    color:var(--black-color) ;
    display: flex;
    align-items: center;
    gap: 20px;
}
.collapse-card{
    background: var(--main-light-color);
    padding: 20px;
    border-radius: 10px;
}
.bi-check2-square{
    color: var(--main-color);
}
.activities-images{
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    background-color: var(--main-light-color);
    padding: 10px;
    border-radius: 20px;
}
.activities-images .image-container{
    padding: 10px;
    background-color: var(--main-color);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    border-radius: 20px;
}
.activities-images .image-container img{
    width: 100%;
    height: 250px;
    border-radius: 20px;
}
.images-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
@media (max-width:768px){
    .activities-images .image-container img{
        width: 100%;
    }
}