
.activities-text ul{
    list-style-type: none;
}
.activity-heading{
    color:var(--black-color) ;
    display: flex;
    align-items: center;
    gap: 10px;
    letter-spacing: -1px;
    font-weight: 600;
    line-height: 44px;
}
.collapse-card{
    background: var(--main-light-color);
    padding: 10px;
    border-radius: 10px;
}
.bi-check2-square{
    color: var(--main-color);
}
.activities-images{
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    background-color: var(--main-light-color);
    padding: 10px;
    border-radius: 20px;
}
.activities-images .image-container{
    padding: 5px;
    background-color: var(--main-color);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    border-radius: 20px;
    width: 100%;
    height: 200px;
}
.activities-images .image-container img{
    width: 100%;
    height: 250px;
    border-radius: 20px;
}
.images-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
@media (max-width:768px){
    .activities-images .image-container img{
        min-width: 100%;
        height: 200px;
    }
}