/* :root{
    --main-color:rgb(240 0 55/1);
    --main-light-color:rgb(252 244 245/1);
    --white-color:#fff;
    --black-color:#000;
    --dim-black:rgb(18 18 18/1);
    --card-bg:rgb(54 54 54/1);
} */
.adwantages-container{
    background-color: var(--dim-black);
    min-height: 100vh;
}
.adwantage-card{
    background-color: var(--card-bg);
    min-height:250px;
    border: 1px solid #74727285;
    text-align: center;
    color: var(--white-color);
    border-radius: 8px;
}
.adwantage-card .adwantage-card-body p{
    color: #939292;
}
.adwantage-header{
    text-align: center;
    margin-bottom: 20px;
}
.adwantage-header img{
    width: 80px;
    height: 80px;
}
.adwantage-btns{
    text-align: center !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

