.contact-home{
    padding: 20px;
    background: linear-gradient(45deg, #033732, #045b66);
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}
.contact-home h1{
    font-size: 3.5rem;
}

@media (max-width:768px){
    .contact-home h1{
        font-size: 2em;
    }
}