:root{
    --main-color:rgb(240 0 55/1);
    --main-light-color:rgb(252 244 245/1);
    --white-color:#fff;
    --black-color:#000;
      --dim-black:rgb(18 18 18/1);
}
.benifits-card{
    padding: 10px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 150px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.benifits-card [class*="bi-"]{
    color: #04671e;
    font-size: 3em !important;
}
.contact-form{
    background-color: var(--main-light-color);
    padding: 30px;
}
@media (max-width:768px){
    .contact-form{
        padding: 10px;
    }
}