:root{
    --main-color:rgb(240 0 55/1);
    --main-light-color:rgb(252 244 245/1);
    --white-color:#fff;
    --black-color:#000;
      --dim-black:rgb(18 18 18/1);
}
.course-single-card{
    padding: 20px;
    border-radius: 10px;
    background-color: var(--white-color);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    
}
.course-single-card-header{
    overflow: hidden;
}
.course-single-card .course-single-card-header img{
    width: 100%;
    height: 180px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.course-single-card-header-curve:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0e0b0bc0;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: 1s course-card-anim linear infinite alternate;

}
@keyframes course-card-anim{
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(-100%);
    }
}
.card-single-heading{
    color: var(--main-color);
    position: relative;
}
.course-single-card .list-group-item{
    padding: 10px !important;
}
.course-single-card-header:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    border-radius: 100% 0 0 0;

}
.course-single-card-header{
    position: relative;
}