
.elite{
    background-color: var(--dim-black) ;
    padding: 7%;
    display: flex;
    flex-direction: column;
    justify-content: s;
    gap: 50px;
    align-items: center;
}
.elite-card {
    text-align: center;
    padding: 20px;
    min-height: 180px;
    background: var(--gold);
    border-radius: 10px;
    margin-bottom: 20px;
}
.elite-card [class*="bi-"]{
    font-size: 3rem;
    margin-bottom: 10px;
}
.elite-card h4{
    font-weight: bolder;
}
.elite button{
    width: fit-content;
}
.elite .register-btn:hover{
    background: var(--gold) !important;
    transition: 0.5s;
}