/* TabComponent.css */
/* Show tabs on larger screens */
:root{
  --main-color:rgb(240 0 55/1);
  --main-light-color:rgb(252 244 245/1);
  --white-color:#fff;
  --black-color:#000;
  --dim-black:rgb(18 18 18/1);
  --card-bg:rgb(54 54 54/1);
}
.custom-tabs {
  display: flex;
  justify-content: space-between;
  background-color: #f6254848; /* Background color of the tab bar */
  border-radius: 10px; /* Rounded corners for the tab bar */
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 100px;
  list-style-type: none;
}

/* Style individual tabs */
.custom-tab {
  flex: 1;
  text-align: center;
 /* Text color of tabs */
  color: #ff1f4b;
  padding: 20px 10px;
  cursor: pointer;
  border-radius: 100px; /* Rounded top corners for tabs */
  transition: background-color 0.3s;
  font-weight: bold;
}

/* Change the background color of the active tab */
.custom-tab[aria-selected="true"] {
  background-color: var(--main-color); /* Background color of the active tab */
  color: var(--white-color); /* Text color of the active tab */
  outline: none;
}

/* Tab content panel */
.react-tabs__tab-panel {
  padding: 20px;
}

.event-card{
  background-color: #ffffff4a;
  background: linear-gradient(45deg, #8007e2, #1b0005);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;position: relative;
}
.event-card::after{
  content: "";
  width: 200px;
  height: 200px;
  position: absolute;
  background-color: #f5e0a1;
  top: 0;
  right: 0;
  filter: blur(90px);
}
.event-card::before{
  content: "";
  width: 200px;
  height: 200px;
  position: absolute;
  background-color: #f8aed0;
  bottom: 0 !important;
  filter: blur(90px);
  right: 0 !important;
}
.event-blur{
  position: absolute;
  width: 200px;
  height: 200px;
  left: 0;
  bottom: 0;
  background-color: #e0ffff;
  filter: blur(90px);
}
.event-image img{
  width: 100%;
  border-radius: 20px;
}
.event-text{
  border-radius: 20px;
  color: var(--white-color);
}
.event-text .keyword{
  background-color: rgba(255, 253, 142, 0.144);
  padding: 10px;
  color: #fce51a;
  border-radius: 10px;
}
@media (max-width:600px){
  .event-main{
    padding: 10px !important;
  }
  .event-card{
    border-radius: 10px;
  }
  .react-tabs__tab-panel {
    padding: 0px;
  }
  .event-card::after, .event-card::before, .event-blur{
    width: 80px;
    height: 80px;
  }
  .custom-tab {
    padding: 5px;
  }
  .event-card h3, .event-card h4, .event-card h5{
      font-size: 1em;
  }
  .event-card button{
    width: 100% !important;
  }
}
