@media (max-width:528px){
    .custom-carousel{
        align-items: flex-start;
        min-height: fit-content;
        padding: 30px 10px;
        padding-bottom: 10%;
        /* text-align: center; */
        min-height: 90vh;
    }
    .carousel-footer{
        justify-content: center;
        flex-flow: row wrap !important;
    }
    .carousal-heading{
        font-size: 2.6rem;
    }
    .carousel-body-text{
        font-size: 1.2rem;
    }
    .carousel-footer .join-btn, .carousel-footer .book-btn, .enrol-btn, .register-btn{
        font-size: 1.1rem;
        padding: 8px;
    }
    .quote-container{
        padding: 10px;
    }
    .register-container-home .form-control{
        padding: 10px;
    }
    .register-container-home .form-group .form-label{
        display: none;
    }
    .r-join, .r-book{
        min-width: 100%;
    }
    .register-container-home .form-group{
        margin-top: 10px !important;
      }
      .banner-heading{
        padding: 5px;
      }

}
@media (min-width: 768px){
.carousel-footer .join-btn, .carousel-footer .book-btn, .enrol-btn, .register-btn{
    font-size: 1.125rem;
    line-height: 1.75rem;
}
}