:root{
    --main-color:rgb(240 0 55/1);
    --main-light-color:rgb(252 244 245/1);
    --white-color:#fff;
    --black-color:#000;
}
.languages-items{
    background-color: var(--main-light-color-color);
    min-height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.language-card{
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    /* border: 2px solid #000; */
    margin-bottom: 20px;
    background-color: var(--main-light-color) !important;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.language-card img{
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}
@media (max-width:528px){
    .language-card img{
        width: 80px;
        height: 80px;
    }
}

@media (max-width:768px){
    .language-card{
        min-width: fit-content;
    }
    /* .language-card img{
        width: 100px;
    } */
}