
#webinar{
  position: relative;
}
.webinar-card{
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    width: 100%;
}
.webinar-card-header img{
    width: 100%;
    height: 200px;
}
.webinar-heading .webinar-heading-left, .webinar-heading-right{
    padding: 5px;
    color: var(--white-color);
}
.webinar-heading-left{
    background-color: var(--black-color);
}
.webinar-heading-right{
    background-color: var(--main-color);
}
.webinar-company{
    font-weight: 700;
    text-transform: uppercase;
}/* Style the indicators container */
.carousel-indicators {
    position: absolute;
    bottom: 10px; /* Adjust the vertical position */
    left: 0;
    right: 0;
    text-align: center;
  }
  
  /* Style the individual indicator bullets */
  .carousel-indicators li {
    display: inline-block;
    width: 12px; /* Set the width of each indicator bullet */
    height: 12px; /* Set the height of each indicator bullet */
    margin: 0 6px; /* Adjust the horizontal spacing between bullets */
    background-color: #ccc; /* Set the default color of inactive bullets */
    border: 1px solid #888; /* Add a border to each bullet */
    border-radius: 50%; /* Make the bullets circular */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
    z-index: 20;
  }
  
  /* Style the active indicator bullet */
  .carousel-indicators .active {
    background-color: var(--main-color);
    border-color: var(--main-color);
  }
  
.custom-next-button, .custom-prev-button {
    background-color: var(--main-color);
    color: #fedd01;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.3em;
    border-radius: 100px;
  }
  
  .custom-next-button:hover, .custom-prev-button:hover {
    background-color: var(--black-color); 
  }
  @media (max-width:600px){
    .webinar-card-body h4, .webinar-card-body h3{
      font-size: 1.1em;
    }
}