:root{
    --main-color:#05595B;
    --main-light-color:#055a5b2e;
    --dim-black:rgb(18 18 18/1);
      --white-color:#fff;
      --black-color:#000;
      --tw-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -4px rgba(0,0,0,.1);
      --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),0 4px 6px -4px var(--tw-shadow-color);
      --tw-shadow-color: rgba(78, 0, 174, 0.2);
      --tw-shadow: var(--tw-shadow-colored);
      --gold:radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
      radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  }

.app{
    position: relative;

}
.app-components{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}
.chat-bot{
    width: 80px;
    height: 80px;
    background-color: #232222;
    border-radius: 100px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
.chat-bot img{
    width: 100%;
}
.call{
    width: 80px;
    height: 80px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 2em;
    padding: 10px;
    background-color: rgb(4, 80, 1);
}
@media (max-width:768px){
    .chat-bot, .call{
        width: 50px;
        height: 50px;
    }
    p{
        font-size: 0.9em !important; 
    }
    h1{
        font-size: 2em !important;
    }
    .banner-heading{
    font-size: 1.5em !important;
    }
    *button{
        font-size: 1em !important;
    }
}